# Ignore the SWC binary build file
node_modules/next/next-swc-fallback/@next/swc-darwin-arm64/next-swc.darwin-arm64.node

# Ignore the node_modules folder
node_modules/
.env.local
.next/
.vercel
.env
.env.production
.DS_Store
# Ignore swap files
*.swp